.dialogue {
    margin-top: 20vh;
    margin-left: 25vw;
    width: 50vw;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 20vh;
}

.row {
    padding-bottom: 1em;
}

small {
    clear: both;
}

.try {
    margin: 10vw;
    font-size: smaller;
}

h5 {
    clear: both;
}

#thumbnails {
    padding: 1rem;
    height: 10vh;
    overflow-y: scroll;
}

#thumbnails img {
    margin: 0.3rem;
    cursor: pointer;
    max-width: 65px;
    max-height: 65px;
}

.expander {
    /* float: left; */
    margin-top: 10px;
    margin-right: 8px;
}

#treeHolderInner {
    max-height: 25vh;
    transition: max-height 0.15s ease-out;
    overflow-y: scroll;
}

#treeHolderInner.expanded {
    max-height: none;
    transition: max-height 0.25s ease-in;
}

#treeHolderInner ul,
#thumbnails {
    width: calc(100% - 50px);
    /* float: left; */
}

#cpHolder {
    width: calc(100% - 50px);
}

.grid-heading h6 {
    margin-top: 0.9rem;
}

.list-group-item a {
    font-size: 80%;
    text-decoration: none;
}

.list-group-item {
    padding: 0.2rem 1.1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.grid-button {
    grid-column-start: 1;
}

.grid-heading {
    grid-column-start: 2;
}

.grid-content {
    grid-row-start: 2;
    grid-column-end: span 2;
}
